footer {
    height: 10vh;
    background-color: $color-base;
    
    p {
    color: white;
    text-align: center;
    }

    #iconos i {
    font-size: 26px;
    padding: 0 8px;
    color: white;
    }
}